*
{
    margin:0;
    padding: 0;
}

.kis .melles
{
    margin: 10px auto;
    width: 50%;
}

.kis .melles select
{
width: 100%;
text-align: center;
}

body
{
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.background{
    background: url('../keps/belep.jpg') no-repeat center center/cover;
    position: absolute;
    top:-10px;
    bottom:0px;
    left:-20px;
    right:-20px;
    z-index: -1;
    filter: blur(16px);
}
.kozep
{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(170, 252, 252, 0.9);
    padding: 5px;
    border-radius: 20%;
    margin: auto;
    height: 23rem;
    position: absolute;
    left: 25%; 
    top: 20%; 
}
.kozep2{
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(170, 252, 252, 0.6);
    padding: 5px;
    border-radius: 30%;
    margin: auto;
    height: 5rem;
    position: absolute;
    left:30%; 
    top: 55%; 
    z-index: -1;
}

.hiba
{
    margin:auto;
    width: 80%;
}

.kozep h1
{
    padding: 1rem;
}

.kozep .error-msg
{
    background-color: rgb(253, 56, 56);
    border: 2px solid rgb(51, 0, 0);
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.kis
{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 0 0 30px 0;
}

.kis .melle input
{
    width: 93%;
    border-radius: 5px;
    padding: 2px;
    margin: 0 5px;
} 

.kis .melle p
{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.kis .gomb
{
    width: 50%;
    margin: 10px auto;
}
.kis input[type=submit]
{
    width: 100%;
    padding: 0.6rem;
    margin-top: 3rem;
    background-color: rgb(139, 241, 254);
}

.kis input[type=submit]:hover
{
    width: 100%;
    padding: 0.6rem;
    margin-top: 3rem;
    background-color: rgb(125, 209, 255);
}

.nincs
{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2.5rem;
}

label
{
    display: block;
    width: 90%;
    margin: auto;
}

.nincs a
{
    text-decoration: none;
    color: black;
    background-color: rgba(240, 248, 255, 0.404);
    padding: 5px;
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(169, 223, 255);
    color: rgb(0, 0, 0);
    position:fixed;
    bottom:0;
    width: 100%;
}
#email{
    width: 11rem;
    border-radius: 2rem;
}
#password{
    width: 11rem;
    border-radius: 2rem;
}

@media screen and (max-width:900px)
{
    h2{
        text-align: center;
        margin-top: 2rem;
        font-size: 2rem;
    }
    body
    {
        background-image: url(../keps/belep.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .kozep
    {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(116, 223, 255, 0.8);
        padding: 5px;
        border-radius: 20%;
        height: 18rem;
    }
    .kozep2
    {
        width: 39%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(116, 223, 255, 0.8);
        padding: 5px;
        border-radius: 20%;
        left:30%; 
        top:50%; 
        z-index: -1;
    }
    
    
    .hiba
    {
        margin:auto;
        width: 80%;
    }
    #email{
        width: 7rem;
        border-radius: 2rem;
    }
    #password{
        width: 7rem;
        border-radius: 2rem;
    }
    
    .kozep .error-msg
    {
        background-color: rgb(253, 56, 56);
        border: 2px solid rgb(51, 0, 0);
        border-radius: 20px;
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    .kis
    {
        display: flex;
        flex-direction: column;
        gap:10px;
        padding: 0 0 30px 0;
    }
    
    .kis .melle input
    {
        width: 93%;
        border-radius: 5px;
        padding: 2px;
        margin: 0 5px;
    } 
    
    .kis .melle p
    {
        text-align: center;
    }
    
    .kis .gomb
    {
        width: 50%;
        margin: 10px auto;
    }
    .kis input[type=submit]
    {
        width: 100%;
        padding: 0.6rem;
        margin-top: 0rem;
        background-color: rgb(139, 241, 254);
    }
    
    .nincs
    {
        font-size: 1.3rem;
        text-align: center;
    }
    
    label
    {
        display: block;
        width: 90%;
        margin: auto;
    }

    .nincs a
    {
        text-decoration: none;
        color: black;
        background-color: rgba(240, 248, 255, 0.404);
        padding: 5px;
        border-radius: 10px;
    }
    

}
@media screen and (max-width:400px)
{
    h2{
        text-align: center;
        margin-top: 2rem;
        font-size: 2rem;
    }
    body
    {
        background-image: url(../keps/belep.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .kozep
    {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(116, 223, 255, 0.8);
        padding: 5px;
        border-radius: 20%;
        height: 18rem;
    }
    .kozep2
    {
        width: 39%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(116, 223, 255, 0.8);
        padding: 5px;
        border-radius: 20%;
        left:30%; 
        top:57%; 
        z-index: -1;
    }
    
    
    .hiba
    {
        margin:auto;
        width: 80%;
    }
    #email{
        width: 7rem;
        border-radius: 2rem;
    }
    #password{
        width: 7rem;
        border-radius: 2rem;
    }
    
    .kozep .error-msg
    {
        background-color: rgb(253, 56, 56);
        border: 2px solid rgb(51, 0, 0);
        border-radius: 20px;
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    .kis
    {
        display: flex;
        flex-direction: column;
        gap:10px;
        padding: 0 0 30px 0;
    }
    
    .kis .melle input
    {
        width: 93%;
        border-radius: 5px;
        padding: 2px;
        margin: 0 5px;
    } 
    
    .kis .melle p
    {
        text-align: center;
    }
    
    .kis .gomb
    {
        width: 50%;
        margin: 10px auto;
    }
    .kis input[type=submit]
    {
        width: 100%;
        padding: 0.6rem;
        margin-top: 0rem;
        background-color: rgb(139, 241, 254);
    }
    
    .nincs
    {
        font-size: 1.3rem;
        text-align: center;
    }
    
    label
    {
        display: block;
        width: 90%;
        margin: auto;
    }

    .nincs a
    {
        text-decoration: none;
        color: black;
        background-color: rgba(240, 248, 255, 0.404);
        padding: 5px;
        border-radius: 10px;
    }
    

}