*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(pic/bacg23.jpg);
    background-attachment: fixed;
}
.wrapper{
    width: 1000px;
    margin: 10px auto;
}
header{
    background-color: rgb(181, 175, 175);
    display: flex;
    justify-content: space-between;
    padding: 15px, 10px;
}
ul{
    display: flex;
    list-style:none;
    padding: 20px;
}
li a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}
.kosarikon{
    cursor: pointer;
    font-size: 30px;
    color: white;
}
.kosarikon p {
    padding: 10px;
    float: left;   
}
/*Items van formázva*/
.itemsBox{
    display: flex;
}
.item{
    margin:10px;
    border: 1px solid white;
}
img{
    width: 100%;
}
h2{
    margin-left: 10px;
    color: white;
}   
p{
    font-size: 20px;
    text-align: right;
    font-weight: lighter;
    color: white;
}
input{
    font-size: 0.8rem;
    width: 3vw;
    padding: 0.3rem;
}
.kosarhoz{
    padding :0.3rem;
    background-color: rgb(97, 197, 122);
}
.cartBox{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    transition: 0.3s linear;
    transform: scale(0);
}
.cartBox.active{
    transform: scale(1);
}
.cartBox .cart{
    position: relative;
    height: 70%;
    width: 80%;
    background:rgba(255, 255, 255, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartBox .cart i{
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    padding: 10px 15px;
    cursor: pointer;
    color: white;   
}
.cartBox .cart i:hover{
    background: brown;
}
.cartBox .cart h1{
    position: relative;
    margin-top: 2%;
    font-size: 2.8rem;
}
th,td{
    border: 1px solid black;
    padding: 10px;

}
