*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    background-color: #d2b9b9;
    position: relative;
    background-color: white!important;
    background-repeat: no-repeat;
    background-size: cover;  
    background-attachment: fixed;
    overflow-x: hidden !important;
  }
  p {
    color: #b3b3b3;
    font-weight: 300;
  }
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  a,
  a:hover {
    text-decoration: none !important;
  }
 
  h2 {
    font-size: 20px;
  }
.container{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}
article{
    margin:20px;
    padding:20px;
    border-radius: 10px;
    background-color: rgba(242, 222, 186, 1);
}
h1{
    margin: auto;
    width: fit-content;
    font-size: 3rem;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 1rem ;
}
form{
    padding-top: 2rem;  
    padding-right: 2rem;
   
}
.kereso{
    height: fit-content;
    color: white;
    border-color: white;
}
.container-fluid input{
    background-color: rgba(233, 236, 239);
    border: solid 3px #212529;
}
.container-fluid{
  border-bottom: solid 2px #DEE2E6;
}
a{
    text-decoration: none;
    color:black;
}
.nevjegy{
    color: black;
}
.lapozo{
    width: fit-content;
    margin: auto;
    background-color: white;
}
.wrapper{
    width: 1000px;
    margin: 10px auto;
}
header{
    background-color: rgb(181, 175, 175);
    display: flex;
    justify-content: space-between;
    padding: 15px, 10px;
}
.headerkep{
  width: 100%;

}
.lista{
    display: flex;
    list-style:none;
}
li a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}
.jelmodositas{
  color: black;
}

.kosarikon{
    cursor: pointer;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    padding-top: 0.5rem;
}

.kosarikon p {
    padding: 10px;
    float: left;  
    color: #000;
}
.card{
  color: black;
  padding: 1rem;
  height: 36rem;
  width: 18rem;
 background: rgba(206, 212, 218, 0.8);
 margin: 1rem !important;
}
.card:hover{
scale: 30rem;
transform: scale(1.05);
box-shadow: 0 0 1em  rgba(0, 0, 0, .3) ;
border: solid 2px rgb(173, 181, 189);
}
.itemsBox{
    display: flex;
}
.item{
    margin:10px;
    border: 1px solid white;
}
.card .card-header img{
    width: 100%;
    border-radius: 1rem;
    max-width: 8rem;
    max-height: 8rem;
    min-height: 8rem;
    
    box-shadow: 0 0 1em  rgba(0, 0, 0, .3) ;
    margin-bottom: 2rem;
}
.card-header img:hover{
  transform: scale(1.1);
}
.card-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 15rem;
}
p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-top: 0.8rem;
    padding-right: 1rem;
}
input{
    font-size: 0.8rem;
    width: 3vw;
    padding: 0.3rem;
}
/* cart */
.kosarhoz{
    padding :0.3rem;
    background-color: transparent;
    width: 70%;
    margin:1rem auto;
}


.cartBox{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    transform: scale(0);
    z-index: 100;
  }
  .cartBox.active{
    transform: scale(1);
    transition: 0.3s linear;
}
.cartBox .cart{
    position: relative;
    height: fit-content;
    width: 60%;
    background:rgba(255, 255, 255, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    gap: 2rem;
}
.cartBox .cart i{
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    padding: 10px 15px;
    cursor: pointer;
    color: white;  
}
.cartBox .cart i:hover{
    background: brown;
}
.cartBox .cart h1{
    position: relative;
    margin-top: 2%;
    font-size: 2.8rem;
}
th,td{
    padding: 10px;
    text-align: center;
}
.table{
  width: 70%;
  border: none;
}
li{
    background: transparent !important;
}
.button{
    width: fit-content;
}
.form-control{
    width: 30rem;
}
.bovebben{
    padding :0.3rem;
    width: 90%;
    margin:1rem auto;
}
.gombok{
    display: grid;
    grid-template-columns: repeat(2,50%);
}
/* .cardkerete{
    min-height: 100%;
    margin: auto;
} */
/* cart */
  .cards {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
  }
 /* sidenav */
 body:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  
}
body.show-sidebar:before {
  opacity: 1;
  visibility: visible;
}
.site-section {
  padding: 7rem 0;
}
aside,
main {
  height: 100vh;
  min-height: 580px;
}
aside {
  width: 300px;
  left: 0;
  z-index: 1001;
  position: fixed;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: #fff;
  -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
}
.show-sidebar aside {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
aside .toggle {
  padding-left: 30px;
  padding-top: 30px;
  position: absolute;
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.show-sidebar aside .toggle .burger:before,
.show-sidebar aside .toggle .burger span,
.show-sidebar aside .toggle .burger:after {
  background: #fff;
}
.show-sidebar aside {
  -webkit-box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
}
aside .side-inner {
  padding: 30px 0;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  overflow-y: hidden !important;
}
aside .side-inner .profile {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #efefef;
}
aside .side-inner .profile img {
  width: 80px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
}
aside .side-inner .profile .name {
  font-size: 18px;
  margin-bottom: 0;
}
aside .side-inner .profile .country {
  font-size: 14px;
  color: #cfcfcf;
}
aside .side-inner .counter {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #efefef;
  text-align: center;
}
aside .side-inner .counter div .number {
  display: block;
  font-size: 20px;
  color: #000;
}
aside .side-inner .counter div .number-label {
  color: #cfcfcf;
}
aside .side-inner .nav-menu ul,
aside .side-inner .nav-menu ul li {
  padding: 0;
  margin: 0px;
  list-style: none;
}
aside .side-inner .nav-menu ul li a {
  display: block;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #8b8b8b;
  position: relative;
  -webkit-transition: .3s padding-left ease;
  -o-transition: .3s padding-left ease;
  transition: .3s padding-left ease;
}
aside .side-inner .nav-menu ul li a:before {
 
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0px;
  background-color: #ff7315;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
  -o-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
  transition: .3s opacity ease, .3s visibility ease, .3s width ease;
}
aside .side-inner .nav-menu ul li a:active,
aside .side-inner .nav-menu ul li a:focus,
aside .side-inner .nav-menu ul li a:hover {
  outline: none;
}
aside .side-inner .nav-menu ul li a:hover {
  background: #fcfcfc;
  color: #000;
}
aside .side-inner .nav-menu ul li a:hover:before {
  width: 4px;
  opacity: 1;
  visibility: visible;
}
aside .side-inner .nav-menu ul li.active a {
  background: #fcfcfc;
  color: #000;
}
aside .side-inner .nav-menu ul li.active a:before {
  opacity: 1;
  visibility: visible;
  width: 4px;
}
/* sidenav */
.navbar{
    width: 100%;
}
.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.balra, .jobbrabb, .jobbra{
  display: flex;
  align-items: center;
}
.gomb{
 
  margin-left: 40px;
 
}
.gomb:hover{
  border: solid #ff7315 2.5px;
}
/* Kereső */
#searchbar{
  margin-left: 3% auto;
  padding:10px;
  border-radius: 10px;
}
input[type=text] {
   width: 30%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
     change its width to 100% */
input[type=text]:focus {
  width: 70%;
}
#list{
 font-size:  1.5em;
 margin-left: 90px;
}
.nincslista.active{
  display: none;
}
.KeresoItem{
  width: auto;
  margin: auto;
}
.carousel-caption{
  width: fit-content;
  color:#000;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
.webshoph5{
  font-size: 4rem;
  padding: 2rem;
  background: rgba(255, 255, 255, .6);
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}
.btn-outline-dark.bov{
 width: 10rem;
}
.webshopmain{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 70%;
  margin: auto;


}
.alap{
  display: grid;
  margin: auto;
  margin-bottom: 3rem;
}


.webshopkep{
  max-width: 25rem;
  min-height: 20rem;
  border-radius:0.4rem ;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}
.webshopkep:hover{
  max-width: 25.1rem;
  min-height: 20.1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);
 
}
h4{
  margin: auto;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}
.kosar{
  width: 5rem;
  max-height: 2.4rem;
  border: solid black 2px;
  border-radius: 0px 8px 0px 8px;
}
.kosarli{
  margin: auto;
  
}
#termekdarab{
  width: 3.5rem;
  min-height: 2.27rem;
  margin: auto;
  background-color: transparent;
  border-radius: 8px 0px 8px 0px;
  border: solid black 2px;
  text-align: center;
  padding-bottom: 0.55rem;
  padding-top: 0.35rem;
}






.hover-img2{
  color: #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.hover-img2 * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}
.hover-img2::before,
.hover-img2::after {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
  border-radius: 0.5rem;
}
.hover-img2 {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.hover-img2 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;


}
.hover-img2:hover::before,
.hover-img2:hover::after {
  transform: scale(1);
  opacity: 1;
}
.hover-img2:hover > img {
  opacity: 0.7;
}
.hover-img2:hover figcaption {
  opacity: 1;
}
a figcaption{
  text-decoration: none;
  color: white;
}






/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: #ff7315 ;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
 
 
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 
}


.dropdown-content a:hover {background-color: rgba(255, 255, 255, 0.4)}
.dropdown:hover .dropdown-content {display: block;}




.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex a {
  padding-right: 0px;
}

.social{
  font-size: 21px !important; 
}
.color-text{
  color:#757575 !important;
}
footer{
  
  color:#caced1 !important;
  width: 100% !important;
  position: absolute;
  margin-top: 3rem;
}



.row-1{
  background-color:#1E242A !important;
}
.row-2{
  background-color: #28323C !important;
}
iframe{
  height: 90%;
  width: 70%;
  margin: auto;
}
.list-unstyled{
  margin: auto;
  width: fit-content;
  
}
.row .row-2{
  text-align:center;
  
}

@media (max-width: 699px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card{
    margin: auto;
  }
  .alap{
    height: fit-content;
    margin: auto;
  }
  h4{
    margin: auto;
    margin-top: 1rem;
    font-size: 1.7rem;
  }
  .carousel-caption{
    width: fit-content;
    color:#000;
    left: 20%;
    top: 30%;
    transform: translate(-50%, -50%);
  }
  .webshopmain{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 70%;
    margin: auto;
  }
  .webshopkep{
    max-width: 16rem;
    min-height: 14rem;
    border-radius:0.4rem ;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
  }
  .webshoph5{
    font-size: 1rem;
    padding: 2rem;
    background: rgba(255, 255, 255, .6);
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
  }
 
  .btn-outline-dark.bov{
   width: 10rem;
  }
}
@media (min-width: 700px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
  .card{


    margin: auto;
  }
  .carousel-caption{
    width: fit-content;
    color:#000;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
 
  .carousel{
    margin-bottom: 2rem;
  }
  .webshopmain{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    width: 70%;
    margin: auto;
  }
  .webshoph5{
    font-size: 1.6rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .6);
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
  }
  .btn-outline-dark.bov{
   width: 10rem;
  }
}
@media (min-width: 1000px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
  .card{


    margin: auto;
  }
  .carousel-caption{
    width: fit-content;
    color:#000;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  .webshopmain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 70%;
    margin: auto;
  }
  .webshoph5{
    font-size: 2rem;
    padding: 1.5rem;
    background: rgba(255, 255, 255, .6);
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
  }
  .btn-outline-dark.bov{
   width: 10rem;
  }
}
@media (min-width: 1200px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
  .card{


    margin: auto;
  }
  .carousel-caption{
    width: fit-content;
    color:#000;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  .webshopmain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 70%;
    margin: auto;
  }
  .webshoph5{
    font-size: 2.5rem;
    padding: 2rem;
    background: rgba(255, 255, 255, .6);
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
  }
  .btn-outline-dark.bov{
   width: 10rem;
  }
}


@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: white;
  z-index: -1;
}

.background span {
  width: 9vmin;
  height: 9vmin;
  border-radius: 9vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 17;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #ced4da;
  top: 99%;
  left: 44%;
  animation-duration: 192s;
  animation-delay: -16s;
  transform-origin: -12vw 18vh;
  box-shadow: -18vmin 0 2.7768497987179814vmin currentColor;
}
.background span:nth-child(1) {
  color: #ced4da;
  top: 61%;
  left: 11%;
  animation-duration: 51s;
  animation-delay: -133s;
  transform-origin: 18vw 10vh;
  box-shadow: 18vmin 0 3.093522757166769vmin currentColor;
}
.background span:nth-child(2) {
  color: #6c757d;
  top: 35%;
  left: 85%;
  animation-duration: 108s;
  animation-delay: -237s;
  transform-origin: 25vw -24vh;
  box-shadow: -18vmin 0 2.598298983253364vmin currentColor;
}
.background span:nth-child(3) {
  color: #6c757d;
  top: 43%;
  left: 53%;
  animation-duration: 210s;
  animation-delay: -188s;
  transform-origin: -16vw 14vh;
  box-shadow: 18vmin 0 2.765251925888315vmin currentColor;
}
.background span:nth-child(4) {
  color: #ced4da;
  top: 88%;
  left: 81%;
  animation-duration: 41s;
  animation-delay: -199s;
  transform-origin: -12vw 11vh;
  box-shadow: 18vmin 0 2.6060176868669718vmin currentColor;
}
.background span:nth-child(5) {
  color: #6c757d;
  top: 93%;
  left: 58%;
  animation-duration: 55s;
  animation-delay: -122s;
  transform-origin: 12vw -14vh;
  box-shadow: 18vmin 0 2.4143479638066196vmin currentColor;
}
.background span:nth-child(6) {
  color: #ced4da;
  top: 72%;
  left: 34%;
  animation-duration: 27s;
  animation-delay: -224s;
  transform-origin: -1vw 22vh;
  box-shadow: -18vmin 0 2.807486188642625vmin currentColor;
}
.background span:nth-child(7) {
  color: #ced4da;
  top: 30%;
  left: 33%;
  animation-duration: 216s;
  animation-delay: -93s;
  transform-origin: 19vw 18vh;
  box-shadow: 18vmin 0 2.4623401457494003vmin currentColor;
}
.background span:nth-child(8) {
  color: #e9ecef;
  top: 51%;
  left: 74%;
  animation-duration: 220s;
  animation-delay: -161s;
  transform-origin: -4vw -20vh;
  box-shadow: 18vmin 0 2.2666577651889144vmin currentColor;
}
.background span:nth-child(9) {
  color: #6c757d;
  top: 71%;
  left: 40%;
  animation-duration: 314s;
  animation-delay: -271s;
  transform-origin: -13vw 2vh;
  box-shadow: -18vmin 0 3.0978698003987493vmin currentColor;
}
.background span:nth-child(10) {
  color: #6c757d;
  top: 71%;
  left: 45%;
  animation-duration: 236s;
  animation-delay: -20s;
  transform-origin: 10vw 3vh;
  box-shadow: -18vmin 0 3.107858643380937vmin currentColor;
}
.background span:nth-child(11) {
  color: #ced4da;
  top: 83%;
  left: 80%;
  animation-duration: 221s;
  animation-delay: -194s;
  transform-origin: -6vw -4vh;
  box-shadow: 18vmin 0 3.211761325823397vmin currentColor;
}
.background span:nth-child(12) {
  color: #6c757d;
  top: 78%;
  left: 41%;
  animation-duration: 299s;
  animation-delay: -134s;
  transform-origin: 5vw 19vh;
  box-shadow: -18vmin 0 3.1329134305781388vmin currentColor;
}
.background span:nth-child(13) {
  color: #e9ecef;
  top: 81%;
  left: 58%;
  animation-duration: 266s;
  animation-delay: -286s;
  transform-origin: 22vw 7vh;
  box-shadow: 18vmin 0 2.306009919145551vmin currentColor;
}
.background span:nth-child(14) {
  color: #e9ecef;
  top: 99%;
  left: 90%;
  animation-duration: 92s;
  animation-delay: -135s;
  transform-origin: 20vw 23vh;
  box-shadow: 18vmin 0 3.053598388388106vmin currentColor;
}
.background span:nth-child(15) {
  color: #6c757d;
  top: 6%;
  left: 59%;
  animation-duration: 88s;
  animation-delay: -259s;
  transform-origin: -19vw -24vh;
  box-shadow: -18vmin 0 3.2295116065933858vmin currentColor;
}
.background span:nth-child(16) {
  color: #ced4da;
  top: 49%;
  left: 60%;
  animation-duration: 75s;
  animation-delay: -71s;
  transform-origin: 22vw 7vh;
  box-shadow: -18vmin 0 2.3651233239013356vmin currentColor;
}
.background span:nth-child(17) {
  color: #e9ecef;
  top: 90%;
  left: 68%;
  animation-duration: 270s;
  animation-delay: -241s;
  transform-origin: 24vw 14vh;
  box-shadow: -18vmin 0 2.998126807960956vmin currentColor;
}
.background span:nth-child(18) {
  color: #e9ecef;
  top: 12%;
  left: 13%;
  animation-duration: 21s;
  animation-delay: -8s;
  transform-origin: -22vw 6vh;
  box-shadow: 18vmin 0 2.6632195705550674vmin currentColor;
}
.background span:nth-child(19) {
  color: #ced4da;
  top: 56%;
  left: 32%;
  animation-duration: 307s;
  animation-delay: -9s;
  transform-origin: -24vw 13vh;
  box-shadow: -18vmin 0 2.9353723606497635vmin currentColor;
}
.background span:nth-child(20) {
  color: #6c757d;
  top: 29%;
  left: 42%;
  animation-duration: 267s;
  animation-delay: -135s;
  transform-origin: 20vw -20vh;
  box-shadow: -18vmin 0 2.8420393983212606vmin currentColor;
}
.background span:nth-child(21) {
  color: #6c757d;
  top: 46%;
  left: 87%;
  animation-duration: 325s;
  animation-delay: -89s;
  transform-origin: -24vw -13vh;
  box-shadow: 18vmin 0 3.026527520882892vmin currentColor;
}
.background span:nth-child(22) {
  color: #6c757d;
  top: 42%;
  left: 8%;
  animation-duration: 143s;
  animation-delay: -162s;
  transform-origin: -4vw 6vh;
  box-shadow: -18vmin 0 2.359638205599114vmin currentColor;
}
.background span:nth-child(23) {
  color: #e9ecef;
  top: 100%;
  left: 35%;
  animation-duration: 117s;
  animation-delay: -246s;
  transform-origin: 23vw 0vh;
  box-shadow: 18vmin 0 2.611207823884999vmin currentColor;
}
.background span:nth-child(24) {
  color: #e9ecef;
  top: 69%;
  left: 5%;
  animation-duration: 79s;
  animation-delay: -237s;
  transform-origin: 20vw 18vh;
  box-shadow: 18vmin 0 3.0463331866531833vmin currentColor;
}
.background span:nth-child(25) {
  color: #ced4da;
  top: 70%;
  left: 43%;
  animation-duration: 265s;
  animation-delay: -3s;
  transform-origin: 24vw -3vh;
  box-shadow: -18vmin 0 3.0127072768997953vmin currentColor;
}
.background span:nth-child(26) {
  color: #6c757d;
  top: 85%;
  left: 47%;
  animation-duration: 276s;
  animation-delay: -208s;
  transform-origin: 12vw -10vh;
  box-shadow: 18vmin 0 2.843395995745416vmin currentColor;
}
.background span:nth-child(27) {
  color: #ced4da;
  top: 15%;
  left: 96%;
  animation-duration: 34s;
  animation-delay: -201s;
  transform-origin: 17vw -1vh;
  box-shadow: -18vmin 0 3.0863866177045853vmin currentColor;
}
.background span:nth-child(28) {
  color: #ced4da;
  top: 90%;
  left: 58%;
  animation-duration: 174s;
  animation-delay: -13s;
  transform-origin: 2vw 3vh;
  box-shadow: 18vmin 0 2.4486491908999684vmin currentColor;
}
.background span:nth-child(29) {
  color: #e9ecef;
  top: 13%;
  left: 61%;
  animation-duration: 267s;
  animation-delay: -221s;
  transform-origin: 12vw -13vh;
  box-shadow: 18vmin 0 2.519729703984203vmin currentColor;
}
.background span:nth-child(30) {
  color: #ced4da;
  top: 39%;
  left: 84%;
  animation-duration: 23s;
  animation-delay: -89s;
  transform-origin: -3vw 23vh;
  box-shadow: 18vmin 0 2.6576614337707376vmin currentColor;
}
.background span:nth-child(31) {
  color: #e9ecef;
  top: 20%;
  left: 64%;
  animation-duration: 231s;
  animation-delay: -325s;
  transform-origin: 3vw -16vh;
  box-shadow: 18vmin 0 2.3428513641070516vmin currentColor;
}
.background span:nth-child(32) {
  color: #6c757d;
  top: 94%;
  left: 34%;
  animation-duration: 151s;
  animation-delay: -149s;
  transform-origin: 19vw 17vh;
  box-shadow: 18vmin 0 2.748949344170275vmin currentColor;
}
.background span:nth-child(33) {
  color: #e9ecef;
  top: 61%;
  left: 33%;
  animation-duration: 127s;
  animation-delay: -45s;
  transform-origin: 20vw 6vh;
  box-shadow: -18vmin 0 2.5402615306220446vmin currentColor;
}
.background span:nth-child(34) {
  color: #ced4da;
  top: 97%;
  left: 87%;
  animation-duration: 223s;
  animation-delay: -296s;
  transform-origin: 20vw 24vh;
  box-shadow: -18vmin 0 2.819931451718304vmin currentColor;
}
.background span:nth-child(35) {
  color: #6c757d;
  top: 63%;
  left: 87%;
  animation-duration: 308s;
  animation-delay: -321s;
  transform-origin: -3vw -20vh;
  box-shadow: -18vmin 0 2.6554575106887vmin currentColor;
}
.background span:nth-child(36) {
  color: #e9ecef;
  top: 21%;
  left: 24%;
  animation-duration: 309s;
  animation-delay: -285s;
  transform-origin: -13vw 17vh;
  box-shadow: -18vmin 0 3.0920559590453935vmin currentColor;
}
.background span:nth-child(37) {
  color: #e9ecef;
  top: 8%;
  left: 75%;
  animation-duration: 59s;
  animation-delay: -82s;
  transform-origin: -19vw -18vh;
  box-shadow: 18vmin 0 3.2419213976383476vmin currentColor;
}
.background span:nth-child(38) {
  color: #6c757d;
  top: 91%;
  left: 78%;
  animation-duration: 172s;
  animation-delay: -324s;
  transform-origin: 10vw -15vh;
  box-shadow: -18vmin 0 2.489127830473879vmin currentColor;
}
.background span:nth-child(39) {
  color: #ced4da;
  top: 83%;
  left: 47%;
  animation-duration: 201s;
  animation-delay: -141s;
  transform-origin: 1vw -8vh;
  box-shadow: -18vmin 0 2.395921819644642vmin currentColor;
}
.background span:nth-child(40) {
  color: #6c757d;
  top: 22%;
  left: 88%;
  animation-duration: 185s;
  animation-delay: -312s;
  transform-origin: 13vw 23vh;
  box-shadow: -18vmin 0 3.1213749560473056vmin currentColor;
}
.background span:nth-child(41) {
  color: #ced4da;
  top: 28%;
  left: 98%;
  animation-duration: 133s;
  animation-delay: -64s;
  transform-origin: -12vw 12vh;
  box-shadow: -18vmin 0 3.0617509127209086vmin currentColor;
}
.background span:nth-child(42) {
  color: #ced4da;
  top: 91%;
  left: 69%;
  animation-duration: 272s;
  animation-delay: -303s;
  transform-origin: 8vw 10vh;
  box-shadow: 18vmin 0 2.8715255954475847vmin currentColor;
}
.background span:nth-child(43) {
  color: #e9ecef;
  top: 79%;
  left: 92%;
  animation-duration: 29s;
  animation-delay: -196s;
  transform-origin: 25vw 25vh;
  box-shadow: 18vmin 0 2.682234320480696vmin currentColor;
}
.background span:nth-child(44) {
  color: #6c757d;
  top: 33%;
  left: 41%;
  animation-duration: 81s;
  animation-delay: -160s;
  transform-origin: 3vw -9vh;
  box-shadow: 18vmin 0 2.977886733963304vmin currentColor;
}
.background span:nth-child(45) {
  color: #e9ecef;
  top: 15%;
  left: 47%;
  animation-duration: 252s;
  animation-delay: -247s;
  transform-origin: 3vw -12vh;
  box-shadow: 18vmin 0 3.017691906029859vmin currentColor;
}
.background span:nth-child(46) {
  color: #e9ecef;
  top: 37%;
  left: 56%;
  animation-duration: 148s;
  animation-delay: -299s;
  transform-origin: 23vw 23vh;
  box-shadow: 18vmin 0 3.0785085967336947vmin currentColor;
}
.background span:nth-child(47) {
  color: #ced4da;
  top: 77%;
  left: 54%;
  animation-duration: 45s;
  animation-delay: -75s;
  transform-origin: 5vw -9vh;
  box-shadow: -18vmin 0 2.3375658700764816vmin currentColor;
}
.background span:nth-child(48) {
  color: #ced4da;
  top: 56%;
  left: 39%;
  animation-duration: 211s;
  animation-delay: -7s;
  transform-origin: -22vw -7vh;
  box-shadow: 18vmin 0 2.2660085352828565vmin currentColor;
}
.background span:nth-child(49) {
  color: #e9ecef;
  top: 67%;
  left: 40%;
  animation-duration: 55s;
  animation-delay: -131s;
  transform-origin: 7vw 17vh;
  box-shadow: 18vmin 0 2.4820269712378833vmin currentColor;
}

.background img{
  max-width: 4rem;
  background:transparent;
 opacity: 0.3;
  
}
#modal {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;  
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

#modal.hidden {
  display: none;
}

#modal img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  object-fit: contain;
  border: none;
}

#modal button {
  position: fixed;
  right: 1rem;
  top: 0.5rem;
  font-size: 50px;
  height: 100px;
  aspect-ratio: 1/1;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: rgba(255, 255, 255);
}
.profilinfo{
  display: none;
}
.profilinfofel{
  display: block !important;
  width: 14rem;
  background-color: rgba(0, 0, 0, .8);
  height: 11.8rem;
  position: absolute;
  left: 85%;
  margin-top: -1rem;
  z-index: 1;
  top: 100%;
  text-align: center;
}
.profilinfofel p{
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 0.5rem;
}

